<div class="d-flex justify-content-between align-items-center my-4">
  <h1>New Friend</h1>
  <%= link_to 'Back', friends_path  , class:"btn btn-outline-primary"%>
</div>
<%= render 'form', friend: @friend %>

